<html>
   <%- include("./partials/head.ejs") %>
    <body>
        <%- include("./partials/nav.ejs") %>
        <div class="container" style="height:379px;">
            <div class="row m-3">  
             <form class="col-sm-10 offset-sm-1" method="POST" action="/details/<%= selection._id%>">
                <div class="row">
                    <h3 class="col-sm-9 text-info mt-2 mb-2">View Single data</h3>
                    <span class="col-sm-3 btn-group">
                        <button type="submit" class="btn btn-success" data-doc="<%= selection._id%>">Update</button>
                        <button class="btn btn-danger delete" data-doc="<%= selection._id%>">Delete</button>
                        <button class="btn btn-secondary" href="/details">Cancel</button> 
                    </span>  
                </div>    
                <input type="hidden" value="<%= selection._id%>"/>
                <div class="form-group"><label class="form-label text-light" for="website">Website</label><input class="form-control text-dark" id="website" type="text" name="website" value="<%= selection.website %>" required></div>
                <div class="form-group"><label class="form-label text-light" for="username">User Name</label><input class="form-control text-dark" id="username" type="text" name="username" value="<%= selection.username %>"  required></div>
                <div class="form-group"><label class="form-label text-light" for="pass">Password</label><input class="form-control text-dark" id="pass" type="password" name="password" value="<%= selection.password %>" required></div>
            </form>
            </div>
        </div>
        <%- include("./partials/footer.ejs") %>
<script>
    const trashcan = document.querySelector('button.delete');
    trashcan.addEventListener('click', (e) => {
      const endpoint = `/details/${trashcan.dataset.doc}`;
      fetch(endpoint, {
        method: 'DELETE',
      })
      .then(response => response.json())
      .then(data => window.location.href = data.redirect)
      .catch(err => console.log(err));
    });





  </script>
    </body>
</html>